.card-group {
  display: flex;
  position: relative;
  align-items: flex-start;

  @include mediaquery--mobile() {
    flex-wrap: wrap;
  }

  &__line {
    position: absolute;
    top: 176px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $cl-cyan;
    height: 8px;
    width: 50%;

    @include mediaquery--mobile() {
      width: 8px;
      height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__item {
    width: 33.33%;

    @include mediaquery--mobile() {
      width: 100%;
    }
  }

  &__item-2 {
    margin-top: 45px;
  }

  &__item-3 {
    margin-top: 90px;
  }

  &__item-2,
  &__item-3 {
    margin-left: 32px;

    @include mediaquery--mobile() {
      margin-left: 0;
      margin-top: 90px;
    }
  }
}

.card {
  background-color: $cl-white;
  padding: 80px 32px 40px;
  border-radius: 6px;
  box-shadow: 3px 6px 10px $cl-grayish-violet;
  position: relative;

  &__img {
    position: absolute;
    width: 90px;
    height: 90px;
    background: $cl-dark-violet;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -45px;
    border-radius: 50%;

    @include mediaquery--mobile() {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__body {
    color: $cl-grayish-violet;
    font-size: 15px;
  }
}
