.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  color: $cl-white;
  background-color: $cl-very-dark-violet;

  &__inner {
    display: flex;
    justify-content: space-between;

    @include mediaquery--mobile() {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo svg {
    color: $cl-white;
  }

  &__information {
    margin-left: auto;
    display: flex;

    @include mediaquery--mobile() {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  }

  &__link-group {
    text-align: center;
    
    @include mediaquery--mobile() {
      margin-top: 36px;
    }

    nav {
      margin-top: 28px;
      display: flex;
      flex-direction: column;
    }

    a {
      color: $cl-gray;
      font-size: 14px;
    }

    + .footer__link-group {
      margin-left: 112px;

      @include mediaquery--mobile() {
        margin-left: 0;
      }
    }
  }

  &__sns {
    margin-left: 48px;
    
    @include mediaquery--mobile() {
      margin-left: 0;
      margin-top: 36px;
    }

    a + a {
      margin-left: 24px;
    }
  }
}
