.headline {
  @include font-headline();

  &--xxl {
    font-size: 80px;
    line-height: 1.1;
  }

  &--xl {
    font-size: 40px;
  }

  &--lg {
    font-size: 21px;
  }

  &--md {
    font-size: 16px;
  }

  &--white {
    color: $cl-white;
  }
}