.link {
  color: inherit; 
  text-decoration: inherit;
  font-size: inherit;
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: .75;
  }

  &:active {
    opacity: .6;
  }

  &--primary {
    color: $cl-gray;
    font-size: 14px;
  }

  &--lg {
    font-size: 15px;
    line-height: 1.8;
  }
}